<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css">
<body>
  <form  class="login_container">
    <div class="login_frame" style="height: 460px;">
      <div class="login_top">
        <span>Welcome to Admin Page</span>
        <div>
          Back to main page <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>Not a member yet? <a href="/resto/signup" style="color: #6440fb">Sign Up</a></p>
      </div>

      <div class="login_input_frame">
        <!-- Foydalanuvchi ism inputi -->
        <div class="login_input_container">
          <label>User ID</label>
          <input type="text" name="mb_nick" placeholder="User ID" value="" required>
        </div>

        <!-- Foydalanuvchi password -->
        <div class="login_input_container">
          <label>User Password</label>
          <input type="password" name="mb_password" placeholder="Password" value="" required>
        </div>

      </div>

      <button class="login_btn btn" name="login" type="submit">Login</button>
    </div>


  </form>
</body>
<%- include('includes/footer') %>