<%- include('includes/header') %>

<body>
  <h1>My restaurant page</h1>

  <% if(!member) { %>
  <h2>You are not authenticated</h2>
  <% } else { %>

  <h1>You are authenticated. Your id <%= member.mb_nick%>
    <p>Your phone is <%= member.mb_phone%></p>
  </h1>
  <% } %>
</body>

<%- include('includes/footer') %>